.header {
    height: 75px;
    box-shadow: 5px 10px 18px lightgray;
    vertical-align: bottom;

}

.headcss {
    padding-top: 20px;
    padding-left:15px;
}

.float-right {
    float: right;
    font-size: 12px;
}

img {
    margin-left: 20px;
    cursor: pointer;
}

.logo {
    margin-right: 5px;
}

