.caption {
    margin-top: 30px;
    text-align: center;
}

.delete-btn {
    cursor: pointer;
}

.dec-btn {
    float: left;
    // font-size: 22px;
    background-color: bisque;
    /* margin-right: 7px; */
    padding-right: 10px;
    padding-left: 10px;
    height: 32px;
    margin-right: 10px;
    padding-top: 5px;
    cursor: pointer;
    // width: 80%;
}

.inc-btn {
    // float: right;
    font-size: 22px;
    background-color: bisque;
    /* margin-right: 7px; */
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.center-block {
    text-align: center;
}