.header {
    height: 45px;
    box-shadow: 5px 10px 18px lightgray;
    vertical-align: bottom;

}

.headcss {
    padding-top: 20px;
    padding-left:25px;
}

.center {
    margin-top: 150px;
}

.box {
    box-shadow: 5px 10px 18px lightgray;
    cursor: pointer;
    padding: 10px;
    padding-top: 25px;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}

.box:hover {
    box-shadow: 5px 10px 18px gray;
}

.float-right {
    float: right;
    font-size: 12px;
}